.text, .email, .number {
    background-color: rgb(253, 247, 209);
    width: 100%;
    padding-top: 0.5rem;
    height: 1.5rem;
    font-size: 1rem;
    color: black;
    outline: none;
    border: none;
    text-indent: 0.5rem;
}

.input_wrapper {
    display: flex;
    flex-direction: row;

}

.input_icon {
    background-color: rgb(253, 247, 209);
}

.input_label {
    position: absolute;
    translate: 5px;
    font-size: 7px;
    background-color: rgb(253, 247, 209);
}
