.modal_form_wrapper {
    height: 100%;
}

.org_account_form_modal_header {
    font-weight: 400;
    margin: 0 0 0.25rem 0.25rem;
}

.org_account_form_modal_description {
    width: 85%;
    height: 100%;
    display: flex;
    margin: 0 0 0.25rem 0.25rem;
}

.scale {
    transform: scale(2);
}