.select {
    background-color: rgb(253, 247, 209);
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    color: black;
    outline: none;
    border: none;
    text-indent: 0.5rem;
}

.select_option {
    background-color: rgb(253, 247, 209);
}