.select {
    background-color: rgb(231, 231, 231);
    width: 100%;
    padding-top: 0.5rem;
    font-size: 1rem;
    color: black;
    outline: none;
    border: none;
}

.select_option {
    background-color: rgb(231, 231, 231);
}